Repository daaniissh/portfolio-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint -- --fix, npm run lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npm run format", "npm run lint -- --fix", "npm run lint"],
  "*.{json,md,yml}": ["npm run format"]
}

refactor: centralized cache (#11)
  app/.server/cache.ts
  app/.server/npm-stats.ts
  app/.server/posts.ts
  app/.server/projects.ts
  app/components/ProjectCard.tsx
  app/functions/github-stats.ts
  app/functions/npm-stats.ts
  app/interfaces/cache.ts
  app/interfaces/project.ts
  app/utils/cache.server.ts
Due: npm run format, npm run lint -- --fix, npm run lint

feat: skills(sections) section (#12)
  app/components/shared/SectionNav.tsx
  app/routes/_index.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

feat: add contact section
  app/components/icons/Email.tsx
  app/components/icons/Instagram.tsx
  app/components/icons/Telegram.tsx
  app/routes/_index.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

fix: email-address contact link
  app/routes/_index.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

style: add responsiveness to homepage
  app/components/PostCard.tsx
  app/components/ProjectCard.tsx
  app/components/shared/SectionNav.tsx
  app/routes/_index.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

chore: add .npmrc
  .npmrc
Due: none

fix: react versions conflict
  package-lock.json
  package.json
Due: npm run format

chore: move projects from content to data
  app/.server/projects.ts
  data/projects/coreicons.md
  data/projects/coreproject.md
  data/projects/mangareader-api.md
  data/projects/moonlitgrace.space.md
  data/projects/quibble.md
  data/projects/svelte-medium-image-zoom.md
Due: npm run format, npm run lint -- --fix, npm run lint

fix: remove deprecated lines from husky config
  .husky/pre-commit
Due: none

chore: remove unnecessary public files
  public/logo-dark.png
  public/logo-light.png
Due: none

docs: update readme.md
  README.md
Due: npm run format

feat: project details page (#13)
  app/.server/projects.ts
  app/components/Markdown.tsx
  app/components/PostCard.tsx
  app/components/ProjectCard.tsx
  app/components/icons/Back.tsx
  app/components/icons/Site.tsx
  app/interfaces/project.ts
  app/root.tsx
  app/routes/_index.tsx
  app/routes/p.$slug.tsx
  app/tailwind.css
  data/projects/coreproject.md
  package-lock.json
  package.json
Due: npm run format, npm run lint -- --fix, npm run lint

chore: update skill icons
  app/routes/_index.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

chore: proper projects markdown content
  data/projects/coreicons.md
  data/projects/coreproject.md
  data/projects/mangareader-api.md
  data/projects/moonlitgrace.space.md
  data/projects/quibble.md
  data/projects/svelte-medium-image-zoom.md
Due: npm run format

refactor: feature pages (#19)
  app/features/home/components/BlogSection.tsx
  app/features/home/components/ContactSection.tsx
  app/features/home/components/HeroSection.tsx
  app/features/home/components/PostCard.tsx
  app/features/home/components/ProjectCard.tsx
  app/features/home/components/ProjectsSection.tsx
  app/features/home/components/SkillsSection.tsx
  app/features/home/components/SocialLinks.tsx
  app/features/home/hooks/useBlogApiURL.ts
  app/features/project/components/ProjectHeader.tsx
  app/features/project/components/ProjectLanguages.tsx
  app/features/project/components/ProjectLinks.tsx
  app/routes/_index.tsx
  app/routes/p.$slug.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

chore: update projects data (#20)
  data/projects/dotlottie-solid.md
  data/projects/moonlitgrace.space.md
Due: npm run format

fix: rename ts cache interface (#21)
  app/functions/github-stats.ts
  app/functions/npm-stats.ts
  app/interfaces/cache.ts
Due: npm run format, npm run lint -- --fix, npm run lint

chore: migrate eslint to v9 (#25)
  app/features/project/components/ProjectHeader.tsx
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format, npm run lint -- --fix, npm run lint

chore: remove old eslint config
  .eslintrc.cjs
Due: none

chore: update favicon.ico
  public/favicon.ico
Due: none

refactor: projects parsing and types (#26)
  app/.server/projects.ts
  app/features/home/components/ProjectCard.tsx
  app/features/project/components/ProjectHeader.tsx
  app/functions/github-stats.ts
  app/functions/npm-stats.ts
  app/interfaces/project.ts
  app/schemas/project.ts
  data/projects/coreicons.md
  data/projects/coreproject.md
  data/projects/dotlottie-solid.md
  data/projects/mangareader-api.md
  data/projects/quibble.md
  data/projects/svelte-medium-image-zoom.md
Due: npm run format, npm run lint -- --fix, npm run lint

feat: add npm URL and filter valid project links (#27)
  app/components/icons/Npm.tsx
  app/components/icons/Site.tsx
  app/features/project/components/ProjectLinks.tsx
  app/routes/p.$slug.tsx
Due: npm run format, npm run lint -- --fix, npm run lint

refactor: render dynamic valid links (#29)
  app/components/LinkList.tsx
  app/config/me.ts
  app/features/home/components/BlogSection.tsx
  app/features/home/components/ContactSection.tsx
  app/features/home/components/SocialLinks.tsx
  app/interfaces/link.ts
  app/routes/_index.tsx
  package.json
Due: npm run format, npm run lint -- --fix, npm run lint
